@import "./reset";

// colors
$lightgray: #bdbdbd;
$darkgray: #7b7b7b; 
$white: #fff;
$black: #000;
$red: #ff0000;

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2vw;
  background-color: $lightgray;
  $shadow-size: 2px;
  $shadow-size-neg: -2px;
  box-shadow: inset $shadow-size $shadow-size 0px 0px $white, inset $shadow-size-neg $shadow-size-neg 0px 0px $darkgray; 

  .game-info {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset $shadow-size-neg $shadow-size-neg 0px 0px $darkgray, inset $shadow-size $shadow-size 0px 0px $white;
    width: 20vw;
    margin-bottom: 2vw;
    
    div {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .reset-button {
      cursor: pointer;
      transform: scale(1.75);
    }

  }
  
  .game-grid {
    display: grid;
    place-items: stretch;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    box-shadow: inset $shadow-size-neg $shadow-size-neg 0px 0px $darkgray, inset $shadow-size $shadow-size 0px 0px $white;
    width: 20vw;
    height: 20vw;

    .cell {
      box-shadow: inset $shadow-size-neg $shadow-size-neg 0px 0px $darkgray, inset $shadow-size $shadow-size 0px 0px $white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:active {
        box-shadow: none;
        box-shadow: inset $shadow-size $shadow-size 0px 0px $darkgray; 
        // background-color: $darkgray;
      }

      &.flagged:after {
        content: "🚩"; 
      }

    }

  }

}

@import "../components/grid/grid.scss";
@import "../components/resetButton/resetButton.scss";
@import "../components/mineCounter/mineCounter.scss";
@import "../components/timeCounter/timeCounter.scss";